{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block menu %}





{% endblock %}
{% block content %}
    <div class="card my-2">
        <div class="card header ">
            <div class=" justify-content-start  align-items-center p-1">
                <!-- icon -->
                {% if obj.user.profile.profilepicture.url %}
                    <img style="float:left;height:7%;width:7%; clip-path: circle()" class="img-responsive mx-2 mt-1 rounded-circle col-lg-2 img-fluid"
                         src="{{ obj.user.profile.profilepicture.url }}">
                    <!-- icon brand -->
                {% endif %}
            <div class="mt-lg-2 justify-content-center align-items-center">
                <b>
                    <a href="#" style="text-decoration: none;clear:right" >{{ obj.user.username }}</a>
                </b>
                <br>

                <!-- date -->
                <small class="d-block text-muted text-dark float-start">{{ obj.created_at|timesince }}</small>
            </div>

            </div>
        </div>

        <div class="card-body">
            <p> {{ obj.status }}
            </p>
            {% if obj.post_image %}
                <img src="{{ obj.post_image.url }}" class="d-block m-auto img-fluid img-responsive  post-img">
            {% endif %}
        </div>
        <div class="card-footer">
        <small>{{ comment.count }} <i style="font-size: 20px;" class="text-muted fa-solid fa-envelope"></i> | {% for i in obj.post_reaction_set.all %}{{ i.total_react }}{% endfor %} <i style="font-size: 20px;" class="text-muted fa fa-thin fa-thumbs-up"></i></small>


            <hr>

            <div class="border rounded border-light bg-light card-body">
                {% for c in comment %}

                <div class=" justify-content-start align-items-center bg-light my-1">
                    {% if c.user.profile.profilepicture %}
                    <div class="d-flex justify-content-start align-items-center bg-light my-1">
                    <img style="height:6%;width:6%;clip-path: circle();"
                         class="mx-2 img-responsive rounded-circle col-lg-2 img-fluid" src="{{ c.user.profile.profilepicture.url }}">
                    {% endif %}
                    <div class="border rounded inline-flex comment-style mt-2 px-2 card">
                        <p  class="text-dark text-wrap">
                            {{ c.comment }}<small style="font-size:12px;" class="ms-1  text-muted">{{ c.created_at|timesince }}</small>
                        </p>

                    </div>
                    </div>
                    <a class="ms-5"  href="#demo{{ c.id }}" data-bs-toggle="collapse">replies</a>
                    <div  id="demo{{ c.id }}" class="collapse">
                        {% for r in c.reply_set.all %}
                        <div class="d-flex justify-content-start align-items-center bg-light  ms-5">
                            {% if r.user.profile.profilepicture %}
                            <img style="float:left;height:6%;width:6%;clip-path: circle()" class="img-responsive mx-2 img-responsive rounded-circle col-lg-2 img-fluid" src="{{ r.user.profile.profilepicture.url }}">
                            {% endif %}

                            <div class="border rounded inline-flex bg-light comment-style mt-2 px-2 card">
                                <p  class="text-dark text-wrap">
                                    {{ r.reply }}<small style="font-size:12px;" class="ms-1  text-muted">{{ r.created_at|timesince }}</small>
                                </p>

                            </div>
                        </div>
                            {% endfor %}
                        <br>
{#                        <form method="post" class="d-flex ms-5 col-lg-10 col-sm-10">#}
{#                            {% csrf_token %}#}
{#                            <div class="">{{ form2.reply }}</div>#}
{#                            <button type="submit" name="c.id" value="{{ c.id }}" class="ms-2 btn btn-outline-primary" data-bs-dismiss="modal">comment#}
{#                            </button>#}
{#                        </form>#}
                        <div class="d-flex justify-content-start align-items-center border rounded border-light bg-light card-body">
                            {% if request.user.profile.profilepicture %}
                                <img style="height:6%;width:6%; clip-path: circle();"
                                     class="me-2 rounded-circle col-lg-2 img-fluid img-responsive" src="{{ request.user.profile.profilepicture.url }}">
                            {% endif %}
                            <!-- status form start -->
                            {#                            <a href="{% url 'create_status' %}" class="btn btn-outline-primary d-flex col-lg-10">write or post</a>#}
                            <form method="post" class="d-flex  col-lg-10 col-sm-12">
                                {% csrf_token %}
                                <div class="col-lg-9 col-sm-9">{{ form2.reply }}</div>
                                <button type="submit" name="c.id" value="{{ c.id }}" class="ms-2 btn btn-outline-primary" data-bs-dismiss="modal">
                                    Reply
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>


            <hr>
            <div class="card">
                <div class="d-flex justify-content-start align-items-center border rounded border-light bg-light card-body">
                    {% if request.user.profile.profilepicture %}
                    <img style="height:6%;width:6%; clip-path: circle();"
                         class="me-2 img-responsive rounded-circle col-lg-2 img-fluid" src="{{ request.user.profile.profilepicture.url }}">
                    {% endif %}
                    <!-- status form start -->
                    {#                            <a href="{% url 'create_status' %}" class="btn btn-outline-primary d-flex col-lg-10">write or post</a>#}
                    <form method="post" class="d-flex  col-lg-10 col-sm-12">
                        {% csrf_token %}
{#                        <div class="col-lg-9 col-sm-9">{{ form1.comment }}</div>#}
                        <input type="text" name='comment_text' autocomplete="off" class="comment_textarea form-control ">
                        <button name="comment" type="submit" class="ms-1 align-items-end btn btn-outline-secondary col-lg-3 col-sm-3">
                            <i style="font-size: 25px;" class="fa-regular fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}











